*
{
	font-family: Calibri;
	margin: 0px;
	padding: 0px;
}

body
{
	min-width: 200px;
}

header
{
	height: 100px;
	width: 100%;
	background-color: darkslategray;
	background-image: linear-gradient(#80808080, #40404080);
}

.absolute-header
{
	position: absolute;
	top: 0px;
	background-color: #00000000;
	background-image: linear-gradient(#000000FF, #00000080);
}

.alt-nav
{
	display: none;
}

main
{
	background-image: linear-gradient(white, #F0F0F0);
}

footer
{
	background-color: darkslategray;
	background-image: linear-gradient(#80808080, #40404080);
}

h1
{
	margin-top: 5vh;
	font-size: 2em;
	color: black;
	text-transform: uppercase;
	margin-bottom: 25px;
}

h2
{
	font-size: 1.25em;
	color: black;
	margin-bottom: 10px;
}

.big-text
{
	font-size: 7.5vw;
}

p, a, input, select, label
{
	font-size: 1.25em;
	color: black;
}

hr
{
	margin: 10px;
	background-color: #FFFFFF88;
}

.flex-space
{
	display: flex;
	justify-content: space-between;
}

.flex-center
{
	display: flex;
	justify-content: center;
}

.center
{
	margin: auto;
	align-self: center;
	text-align: center;
}

.img
{
	object-fit: cover;
}

.logo
{
	height: 100px;
}

.nav-items
{
	list-style: none;
	align-self: center;
}

.link
{
	font-size: 1.25em;
	color: white;
	text-decoration: underline;
	margin: 5px;
	align-self: center;
}

.link-active
{
	border-radius: 7px;
	border: dotted 1px white;
	background-image: linear-gradient(#00000000, #80808080);
}

.lk
{
	margin-right: 25px;
}

.button, input, select
{
	display: block;
	color: black;
	padding: 10px;
	margin: 10px;
	border: 1px solid #F0F0F0;
	border-bottom: 3px solid steelblue;
	border-radius: 5px;
	outline: none;
	background-color: azure;
}

label
{
	padding: 10px;
	margin: 10px;
	width: 30%;
	margin-right: 0px;
}

label + button, label + input, label + select
{
	display: inline-block;
	width: 50%;
	margin-left: 0px;
}

.preview-container
{
	width: 100%;
	margin: auto;
}
	
.preview-image
{
	width: 100%;
	margin: auto;
}

.preview-control
{
	position: relative;
	width: 100%;
	background-image: linear-gradient(#00000040, #000000FF);
}

.preview-control > p
{
	font-family: "Small Capital";
	font-size: 2.5vw;
	color: white;
	text-align: center;
	margin: auto;
	padding: 10px;
}

.preview-name
{
	font-family: "Small Capital";
	font-size: 5vw;
	color: white;
	text-transform: uppercase;
	align-self: center;
}

.preview-arrow
{
	margin-left: 5vw;
	margin-right: 5vw;
	width: 10%;
	align-self: center;
}

.sheet
{
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 10px;
	margin-bottom: 10px;
}

.poster
{
	height: 35vw;
	flex-basis: 20vw;
	margin-bottom: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.poster-desc
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.poster-desc > * > p
{
	display: inline-block;
	font-family: "Comic Sans MS", cursive;
	font-size: 1.5vw;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 5px 5px 5px black;
	color: white;
	background-color: #00000080;
	border-radius: 20px;
	padding: 10px;
}

.poster-control
{
	background-image: linear-gradient(#80808080, #FFFFFFFF);
}

.fb-30
{
	margin: 1vw;
	padding: 1vw;
	background-color: white;
	flex-basis: 30vw;
}

.info
{
	padding: 1vw;
	align-items: center;
}

.about
{
	width: 25vw;
	margin: 10px;
}

.about p
{
	color: white;
}

@media (orientation: landscape)
{
	h1
	{
		margin-top: 5vh;
	}
	
	.img
	{
		margin: 2vw;
		height: 30vh;
	}
	
	.box
	{
		border-radius: 1vw;
		box-shadow: 10px 10px 15px gray, -10px -10px 15px lightgray;
	}
	
	.preview-control
	{
		height: 20vh;
		margin-top: -20vh;
	}
	
	.preview-control > p
	{
		font-size: 2.5vw;
	}
		
	.preview-arrow
	{
		height: 5vh;
	}

	.info img
	{
		height: 25vh;
	}
}

@media (orientation: portrait)
{
	h1
	{
		margin-top: 2.5vh;
	}
	
	.img
	{
		margin: 2vh;
		height: 30vw;
	}
	
	.box
	{
		border-radius: 1vh;
		box-shadow: 10px 10px 15px gray, -10px -10px 15px lightgray;
	}
	
	.preview-control
	{
		height: 10vh;
		margin-top: -10vh;
	}
	
	.preview-arrow
	{
		height: 2.5vh;
	}

	.info img
	{
		height: 25vw;
	}
}

@media (max-width: 1000px)
{
	h1
	{
		margin-top: 1vh;
	}
	
	h2
	{
		font-size: 1em;
		color: black;
		margin-bottom: 10px;
	}

	p
	{
		font-size: 1em;
		color: black;
	}
	
	.main-nav
	{
		display: none;
	}
	
	.alt-nav
	{
		display: block;
	}
	
	.alt-nav-button
	{
		background-image: url(files/alt-nav.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		
		width: 20vw;
	}
	
	.alt-link-pool
	{
		display: none;
		position: absolute;
		top: 100px;
		right: 0px;
		background-color: #40404080;
		width: 20vw;
		border: solid gray 1px;
	}
}

.alt-nav-button:hover .alt-link-pool
{
	display: block;
}

.link
{
	transition: all .5s ease;
}

.link:hover
{
	transition: all .5s ease;
	color: steelblue;
}

.scaled
{
	transition: all .5s ease;
}

.scaled:hover
{
	transition: all .5s ease;
	transform: scale(1.1);
}

.move-left
{
	transition: all .5s ease;
}

.move-left:hover
{
	transition: all .5s ease;
	transform: translate(-2vw);
}

.move-right
{
	transition: all .5s ease;
}

.move-right:hover
{
	transition: all .5s ease;
	transform: translate(2vw);
}

.button
{
	transition: all .5s ease;
}

.button:hover
{
	transition: all .5s ease;
	background-color: mistyrose
}