*
{
	font-family: Calibri;
	margin: 0px;
	padding: 0px;
}

body
{
	min-width: 1280px;
}

header
{
	position: absolute;
	height: 100px;
	width: 100%;
	background-image: linear-gradient(#000000FF, #00000088);
}

nav
{
	display: flex;
	justify-content: center;
}

main
{
	background-image: linear-gradient(white, #F0F0F0);
}

footer
{
	background-color: darkslategray;
}

h1
{
	text-transform: uppercase;
	color: black;
	margin-top: 5vh;
	margin-bottom: 10px;
}

h2
{
	color: black;
	margin-bottom: 10px;
}

p
{
	font-size: 1.25em;
	color: black;
}

hr
{
	margin: 10px;
	background-color: #FFFFFF88
}

.flex-space
{
	display: flex;
	justify-content: space-between;
}

.box
{
	border-radius: 5px;
	box-shadow: 10px 10px 15px gray, -10px -10px 15px lightgray;
}

.logo
{
	height: 100px;
}

.nav-items
{
	list-style: none;
	align-self: center;
}

.nav-link
{
	
	font-size: 1.25em;
	color: white;
	margin: 5px;
	align-self: center;
}

.lk
{
	margin-right: 25px;
}

.preview-container
{
	width: 100%
}

.preview-image
{
	width: 100%;
	margin: auto;
}

.preview-name
{
	font-family: "Arial";
	font-size: 10vh;
	text-transform: uppercase;
	align-self: center;
	color: white;
}

.preview-arrows
{
	position: relative;
	width: 100%;
	height: 20vh;
	margin-top: -20vh;
	background-image: linear-gradient(#00000044, #000000FF);
}

.preview-arrow
{
	margin-left: 5vw;
	margin-right: 5vw;
	width: 10%;
	height: 10vh;
	align-self: center;
}

.sheet
{
	margin-left: 5vw;
	margin-right: 10vw;
	margin-top: 50px;
}

.poster
{
	height: 35vw;
	margin: 1vw;
	background-color: white;
}

.poster-img
{
	position: absolute;
	height: 35vw;
}

.poster-desc
{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 90%;
	margin: 10px;
}

.poster-desc div p
{
	font-family: "Comic Sans MS", cursive;
	font-size: 1.5vw;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 3px 3px 3px black;
	color: white;
}

.news
{
	margin: 1vw;
	padding: 1vw;
	background-color: white;
	flex-basis: 30vw;
}

.best *
{
	margin: 1vw;
	width: 40vw;
}

.info
{
	padding: 1vw;
	align-items: center;
}

.info img
{
	height: 25vh;
}

.about p
{
	color: white;
	width: 25vw;
	margin: 10px;
}